.auth-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    background-color: #1E88E5;
    padding: 30px 100px;
}

.auth-card > h1 {
    margin-bottom: 20px;
}

.auth-card__input-grid {
    display: grid;
    justify-items: flex-start;
    grid-row-gap: 15px;
    margin-bottom: 20px;
}