.cat-card {
    width: 220px;
    height: 220px;
    position: relative;
    transition: all 0.2s;
}

.cat-card:hover {
    width: 240px;
    height: 240px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.24);
}

.cat-card svg {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 48px;
    height: 48px;
    transition: all 0.2s;
}
.cat-card svg:hover {
    fill: red;
}